# Node.js
node_modules
npm-debug.log*
yarn-error.log*

# Environment variables
.env
.env.*

# Build artifacts
dist
build

# Operating system files
.DS_Store
Thumbs.db

# Editor files
.vscode
.idea
*.swp

# Miscellaneous
package-lock.json
prisma/migrations 
prisma/dev.db 